.btn {
    background-color: rgb(29, 161, 242);
    border-radius: 9999px;
    border-color: rgba(0, 0, 0, 0);
    border-width: 1px;
    border-style: solid;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}