<div class="container mt-3">
    <div class="row">
        <div class="col">
            <div *ngIf="auth.userData as user; else elseBlock">
                <div class="row">
                    <div class="col">
                        <h2>Welcome {{user.displayName}}</h2>
                    </div>
                    <div class="col">
                        <div class="formGroup">
                            <button type="button" (click)="auth.SignOut()">
                                Logout
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #elseBlock>
                <div class="row">
                    <div class="col">
                        <h2>Please Login</h2>
                    </div>
                    <div class="col">
                        <div class="formGroup">
                            <button type="button" (click)="auth.GoogleAuth()">
                                Login
                            </button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>