<div class="container mt-3">
    <div class="row" style="max-width: 800px;">
        <div class="col">
            <div *ngIf="auth.userData as user; else elseBlock">
                <div class="row">
                    <div class="col">
                        <h2>Welcome {{user.displayName}}</h2>
                    </div>
                    <div class="col">
                        <div class="formGroup">
                            <button type="button" class="btn btn-light" (click)="auth.SignOut()">
                                Logout
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #elseBlock>
                <div class="row mb-3" style="padding-top: 100px;">
                    <div class="col">
                        <div class="formGroup">
                            <button type="button" class="btn btn-light" (click)="auth.GoogleAuth()">
                                <img src="../../../assets/google-logo.png" alt="" class="mr-2">
                                Sign in with Google
                            </button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>