<div class="container signin">
    <form>
        <div class="mb-3 signin-header">
            Login
        </div>
        <!-- <div class="mb-3 signin-entry">
            <input type="email" class="form-control" id="email" placeholder="E-mail">

        </div>
        <div class="mb-3 signin-entry">
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div> -->

        <div class="signin-button">
            <button type="submit" class="btn btn-light">
                <img src="../../../assets/google-logo.png" alt="" class="mr-2">
                Sign in with Google
            </button>
        </div>
    </form>
</div>