/* You can add global styles to this file, and also import other style files */
body {
    background-color: #0f3e57 ;
    color: white;
}

.card {
    max-width: 800px;
}

.navbar-brand {
    color: white;
}

.card {
    color: white;
    background-color: #0f3e57 ;
    border-color: white;
    border-width: .1em;
}
